.shape {
    height: 3rem;
    width: 40rem;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
    background-color: aqua;
}

.animate {
    height: 18rem;
    width: 18rem;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
}

.shadows {
    height: 18rem;
    width: 18rem;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
    background-color: burlywood;
}

.textdecorated {
    height: 18rem;
    width: 18rem;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
}